<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="TEST_LOG_DIR" value="${raftlog.test.log.dir:-${user.dir}/logs}"/>
    <timestamp key="testRunLocalTimestamp" datePattern="yyyy-MM-dd_HH-mm-ss" timeReference="contextBirth"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{48}%replace( [%X{storageId}]){' \[\]', ''}%replace( [%X{operationId}]){' \[\]', ''}%replace( [%X{nodeId}]){' \[\]', ''}%replace( [%X{agentId}]){' \[\]', ''}%replace( [%X{raftRole}/%X{raftTerm}]){' \[/\]', ''}%replace( [%X{requestId}]){' \[\]', ''}%replace( [%X{rpcType}]){' \[\]', ''} %kvp - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${TEST_LOG_DIR}/raftlog-maven-tests-${testRunLocalTimestamp}.log</file>
        <append>true</append>
        <prudent>true</prudent>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{48}%replace( [%X{storageId}]){' \[\]', ''}%replace( [%X{operationId}]){' \[\]', ''}%replace( [%X{nodeId}]){' \[\]', ''}%replace( [%X{agentId}]){' \[\]', ''}%replace( [%X{raftRole}/%X{raftTerm}]){' \[/\]', ''}%replace( [%X{requestId}]){' \[\]', ''}%replace( [%X{rpcType}]){' \[\]', ''} %kvp - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="dev.mars.raftlog" level="DEBUG"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="io.netty" level="WARN"/>
    <logger name="io.grpc" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
